 
# for Mac OS X System Files
.DS_Store
Thumbs.db

# for Xcode
.*.swp
.clang_complete
objc4/objc4-723/*.xcodeproj/project.xcworkspace/
objc4/objc4-723/*.xcodeproj/xcuserdata/
objc4/objc4-723/Build/
objc4/objc4-723/Index/